<!-- <div class="containe pt-5 mr-5">
    <div class="row">
        <div col-md-4 col-lg-6>
            <div class="card">
                <div class="content">
                    <img class="imgBX" src="img01.jpg" alt="">
                        <h2>Abdullah Al Fahad</h2>
                        <H5>HEy mama</H5>    
                        <ul class="list-unstyled list-inline text-center"  >
                            <li class="list-inline-item p-3">
                              <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                              </a>
                            </li>
                        
                            <li class="list-inline-item p-3">
                              <a >
                                <i class="fa fa-twitter fa-2x "> </i>
                              </a>
                            </li>
                        
                            <li class="list-inline-item p-3">
                              <a>
                                <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
                              </a>
                            </li>
                          </ul>
                    <button class="btn" href="">Read More</button>
            </div>  
        </div>
    </div>

        <div col-md-4 col-lg-6>
            <div class="card">
                <div class="content">
                    <img class="imgBX" src="img01.jpg" alt="">
                        <h2>Abdullah Al Suad</h2>
                        <H5>HEy mama</H5>    
                        <ul class="list-unstyled list-inline text-center"  >
                            <li class="list-inline-item p-3">
                              <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                              </a>
                            </li>
                        
                            <li class="list-inline-item p-3">
                              <a>
                                <i class="fa fa-twitter fa-2x "> </i>
                              </a>
                            </li>
                        
                            <li class="list-inline-item p-3">
                              <a>
                                <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
                              </a>
                            </li>
                          </ul>

                    <button class="btn" href="">Read More</button>
                </div>
        </div>
       </div>
    </div>    
</div> -->