<!-- Footer -->
<footer class="page-footer font-small  pt-4 mt-5 " style="background-color: #37474F; color: white; font-size: 1em;">
   <div class="container text-center text-md-left">
      <div class="row">

             <!--Compani-->
            <div class="col-md-3 mx-auto">
              <h5 class="font-weight-bold text-uppercase">Footer Content</h5>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 70px; background-color:#33b5e5;">
              <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                consectetur
                adipisicing elit.</p>
            </div>

                    <!--USEFUL LINKS-->
            <div class="col-md-2 mx-auto">
              <h5 class="font-weight-bold text-uppercase">USEFUL LINKS</h5>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 70px; background-color:#33b5e5;">
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Your Account</a>
                </li>
                <li>
                  <a href="#!">Become an Affiliate</a>
                </li>
                <li>
                  <a href="#!">Shipping Rates</a>
                </li>
                <li>
                  <a href="#!">Help</a>
                </li>
              </ul>
            </div>
  
        <!--CONTACT-->
            <div class="col-md-3 mx-auto">
              <h5 class="font-weight-bold text-uppercase ">CONTACT</h5>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 70px; background-color:#33b5e5;">
                <ul class="list-unstyled">
                  <p>
                    <i class="fa fa-home mr-3" aria-hidden="true"></i> New York, NY 10012, US</p>
                  <p>
                    <i class="fa fa-envelope mr-3"></i> info@example.com</p>
                  <p>
                    <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                  <p>
                    <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
                  </ul>
              </div>
      

    
      <div class="col-md-2 mx-auto">
        <form class="form-inline">
          <input type="text" class="form-control" placeholder="Your email" aria-label="Your email"><br>
          <textarea class="form-control md-textarea" rows="3"  placeholder="Your Messages"></textarea>
          <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Send</button>



        </form>
      </div>
     

    </div>
  </div>
  

  <hr style="background-color: red; width: 50%;">

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center" id="icon" >
    <li class="list-inline-item p-3">
      <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/">
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
      </a>
    </li>

    <li class="list-inline-item p-3">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter fa-2x "> </i>
      </a>
    </li>

    <li class="list-inline-item p-3">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
      </a>

    </li>


    <li class="list-inline-item p-3">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-pinterest fa-2x " aria-hidden="true"></i>
      </a>
    </li>

    <li class="list-inline-item p-3">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  

  <!-- Copyright -->
  
  <div class=" text-center py-3" style="background-color: #1C2331;">© 2020 Copyright:
    <a href="#"> AAL.com</a>
  </div>


</footer>
