 .header{
    background:linear-gradient(90deg,#03a9fa,#f441a5,#ffeb3b,#03a9fa); 
    animation: animate 8s linear infinite;
    background-size: 300%; 
    width:100%;
    min-height: 10%;
    max-height: 15%;
    border-radius: 0%;
      
    }
    @keyframes animate{
        0%{
            background-position:0%;
        }
        100%{
            background-position: 300%;
        }
    }

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
}
