<div class="container-fluid main"  >

<div *ngFor="let item of timeTable">
    <mat-card class="my-2" id="card" [ngStyle]="{'background-color': item.checked ? 'lime' : ''}" >
        
         <!-- [ngStyle]="{'background-color': item.checked && item.over? 'lime' : '', 'background-color': item.over? '#00ffcc' : ''}"  -->
             

        <div class="row" >
            <div class="col-md-3"><mat-checkbox class="" (change)="onChange(item, $event)">Check me!</mat-checkbox></div>
            <div class="col-md-3"> {{item.time}}</div>
            <div class="col-md-3">{{item.do}}</div>
            <div class="col-md-3"><button mat-raised-button [color]="item.over?'warn':'primary'" >{{item.status}}</button></div>
        </div>
        
    </mat-card>
</div>
</div>